/* RESET */

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

/* CUSTOM PROPERTIES */

:root {
  --font-family-1: "Raleway", sans-serif;
  --font-family-2: "Roboto", sans-serif;

  --color-dark: #333;
  --color-light: #fff;
  --color-accent: #3a86ff;
  --color-dark-blue: #283646;
  --color-light-grey: #f8f9fa;
  --color-grey: #666;
  --color-placeholder: #a2a9b0;
  --color-disable: #ccc;

  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: clamp(1.125rem, 1.1055rem + 0.0822vw, 1.5rem);

  --font-size-xl: 2rem;
  --font-size-2xl: 3rem;
  /* --font-size-3xl: 4rem; */
  /* clampvärde för att denna storlek ska fungera bra responsivt */
  --fontsize-3xl: clamp(3rem, 2.9479rem + 0.2192vw, 4rem);

  --grid-container: [full-start] minmax(32px, 1fr) [inner-start]
    minmax(0, 77.5rem) [inner-end] minmax(32px, 1fr) [full-end];

  --grid-container-small: [full-start] minmax(32px, 1fr) [inner-start]
    minmax(0, 64rem) [inner-end] minmax(32px, 1fr) [full-end];

  --header-height: 140px;

  /* avstånd som ska vara i toppen och botten på varje sektion */
  --spacing-section: 6.5rem;
}

body {
  font-family: var(--font-family-2);
  color: var(--color-grey);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-1);
  font-weight: bold;
  color: var(--color-dark);
}

h1 {
  font-weight: 600;
}

p {
  line-height: 1.5;
}

/* KOMPONENTER */

.button {
  padding: 0;
  border: 0;
  border-radius: 0;
  background: transparent;

  color: var(--color-accent);
  font-family: var(--font-family-2);
  font-size: var(--font-size-s);
  font-weight: 500;
  text-decoration: none;
  display: inline-flex;
  align-items: center;

  height: 3rem;
  border: 1px solid var(--color-accent);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  gap: 0.5rem;

  white-space: nowrap;

  &.button--light {
    border-color: var(--color-light);
    color: var(--color-light);
  }

  &.button--tab {
    border: 0;
    border-bottom: 2px solid var(--color-accent);
    border-radius: 0;
    color: var(--color-dark);
    padding-right: 3rem;
    padding-left: 3rem;
    font-size: 1.125rem;
    font-family: var(--font-family-1);
    font-weight: 600;
  }
}

/* HUVUDLAYOUT */
.container {
  display: grid;
}

.site-header,
.hero,
.features,
.stats,
.get-started,
.app-features,
.testimonials,
.partners {
  display: grid;
  grid-template-columns: var(--grid-container);
}

.cta,
.site-footer {
  display: grid;
  grid-template-columns: var(--grid-container-small);
}

.site-header__inner,
.hero__inner,
.features__inner,
.stats__inner,
.get-started__inner,
.app-features__inner,
.testimonials__inner,
.partners__inner,
.cta__inner,
.site-footer__inner {
  grid-column: inner;
}

/* Site Header */

.site-header {
  height: var(--header-height);
  position: absolute; /*Ändra till fixed senare*/
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  .site-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .branding {
    color: var(--color-light);
  }
}

/* Menu */
.menu {
  display: flex;
  align-items: center;
  gap: 3rem;

  .menu__list {
    margin: 0; /*reset*/
    padding: 0; /*reset*/
    list-style: none; /*reset*/

    display: flex;
    gap: 2.5rem;
  }

  .menu__link {
    text-decoration: none;
    color: var(--color-light);
  }

  .menu__button {
    /* nollställer */
    background: none;
    border: 0;
    padding: 0;
    border-radius: 0;

    color: var(--color-light);
    display: none;
  }

  /* media-querys för meny */
  @media screen and (max-width: 1024px) {
    gap: 2rem;

    .menu__list {
      display: none;
    }

    .menu__button {
      display: inline-block;
    }
  }

  @media screen and (max-width: 480px) {
    .button {
      display: none;
    }
  }
}

/* Hero */

.hero {
  background-color: var(--color-dark-blue);
  min-height: 100vh;
  padding-top: var(--header-height);

  .hero__inner {
    padding: 5rem 0;
    display: flex;
    /* flex-wrap: wrap; */

    /* space-between gör att boxarna i hero__inner hamnar så långt ifrån varandra som det går. Gap garanterar att det alltid är minst 5rem mellanrum, och att boxarna förminstkar sig istället om utrymmet är litet.  */
    justify-content: space-between;
    gap: 5rem;

    align-items: center;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    max-width: 640px;
    width: 100%;
    color: var(--color-light);
    padding-bottom: 5rem;
  }

  .hero__image {
    background-color: var(--color-placeholder);

    /* inställningar för att bilden ska vara max 504px men alltid breda ut sig så mycket det går */
    max-width: 504px;
    width: 100%;
    aspect-ratio: 4/5;

    /* Överkurs för att vara säker på att bilder man lägger in i placeholdern täcker och får rätt dimensioner */
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .hero__title {
    font-size: var(--font-size-3xl);
    color: var(--color-light);
    font-weight: 600;
    margin: 0;
  }

  .hero__desc {
    font-size: var(--font-size-l);
    font-weight: 400;
    font-family: var(--font-family-1);
    margin: 0;
  }

  .hero__buttons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  /* media-querys för hero */
  @media screen and (max-width: 1024px) {
    .hero__inner {
      flex-direction: column;

      align-items: flex-start;
    }

    .hero__image {
      max-width: 100%;
      aspect-ratio: 16/9;
    }
  }

  @media screen and (max-width: 480px) {
    .button__text {
      .hero__inner {
        grid-column: full;
        padding-bottom: 0;
      }

      .hero__content {
        padding: 0 32px;
      }

      span {
        display: none;
      }
    }

    .hero__image {
      aspect-ratio: 1/1;
    }
  }
}

/* Features */

.features {
  .features__inner {
    padding: var(--spacing-section) 0;
    display: grid;
    gap: 2.5rem;
  }

  .features__top {
  }

  .features__title {
    max-width: 30rem;
    font-size: var(--font-size-2xl);
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

  .features__desc {
    max-width: 26rem;
  }

  .features__cards {
    display: flex;
    gap: 1rem;
  }

  .features__cta {
    display: flex;
    justify-content: center;
  }

  .card {
    background-color: var(--color-light-grey);
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;

    .card__icon {
      color: var(--color-accent);
    }

    .card__title {
      font-size: var(--font-size-l);
      margin: 1.5rem 0 0.5rem 0;
    }

    .card__text {
    }
  }
}

/* Stats */

.stats {
  .stats__inner {
    padding: var(--spacing-section) 0;
    display: grid;
    gap: 4rem;
  }

  .stats__top {
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-items: center;

    /* samma gap som i rutnätet under för att få exakt samma linje på innehållet */
    gap: 1rem;
  }

  .stats__title {
    max-width: 30rem;
    font-size: var(--font-size-2xl);
    margin-top: 0;
    margin-bottom: 0;
  }

  .stats__desc {
    margin: 0;
    max-width: 31.25rem;
  }

  .stats__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
}

.stat {
  background-color: var(--color-light-grey);
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  gap: 0.5rem;

  .stat__data {
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-dark);
  }

  &:nth-child(4) {
    grid-row: span 2;
    background-color: var(--color-accent);
    color: var(--color-light);

    .stat__data {
      color: var(--color-light);
    }
  }
}

/* Get started */

.get-started {
  background-color: var(--color-dark-blue);
  padding: var(--spacing-section) 0;

  .get-started__inner {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
  }

  .get-started__content {
    max-width: 31.5rem;
  }

  .get-started__title {
    font-size: var(--font-size-2xl);
    color: var(--color-light);
    margin-bottom: 0;
    margin-top: 0;
  }

  .get-started__desc {
    color: var(--color-light);
  }

  .get-started__buttons {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
  }
}

.testimonial {
  padding: 2.5rem 3.5rem;
  background-color: var(--color-light);
  border-radius: 8px;
  max-width: 29rem;
  min-height: 490px;

  .testimonial__placeholder {
    height: 88px;
    width: 88px;
    border-radius: 100%;
    background-color: var(--color-placeholder);
  }

  .testimonial__content {
    margin: 2.5rem 0 2rem;
  }

  .testimonial__credits {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .testimonial__author {
    font-weight: 700;
    color: var(--color-dark);
  }
}

/* App Features */

.app-features {
  .app-features__inner {
    padding: var(--spacing-section) 0;
  }
}

.tabs {
  display: grid;
  gap: 5rem;
  .tabs__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .tabs__item:not(.tabs__item--active) {
    .button--tab {
      border-color: transparent;
      color: var(--color-disable);
    }
  }

  .tab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3.5rem;

    .tab__col {
      &:nth-child(2) {
        justify-items: center;
      }

      &:nth-child(3) {
        align-content: end;
      }
    }

    .tab__title {
      font-size: var(--font-size-2xl);
      margin-bottom: 2rem;
    }

    .tab__desc {
      margin-bottom: 2rem;
    }
  }
}

.icon-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  .icon-list__item {
    display: flex;
    gap: 1.5rem;
  }

  .icon-list__title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: var(--font-size-l);
  }

  .icon-list__desc {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  .icon-list__icon {
    color: var(--color-accent);
  }
}

/* Testimonials */

.testimonials {
  background-color: var(--color-dark-blue);

  .testimonials__inner {
    padding: var(--spacing-section) 0;
    display: grid;
    gap: 3rem;
  }

  .testimonials__top {
    display: flex;
    justify-content: center;
  }

  .testimonials__title {
    font-size: var(--font-size-2xl);
    color: var(--color-light);
    margin: 0;
    max-width: 35rem;
    text-align: center;
  }

  .testimonials__content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1rem;
  }

  .testimonial {
    max-width: 100%;
    text-align: center;
    padding: 2.5rem;
    min-height: unset;

    &:has(.testimonial__image) {
      text-align: left;

      display: flex;
      gap: 1.5rem;

      .testimonial__container {
        align-self: center;
      }

      .testimonial__rating {
        order: unset;
        justify-content: flex-start;
      }

      .testimonial__content {
        margin: 0.5rem 0;
      }
    }

    .testimonial__image {
      min-width: 240px;
      flex-shrink: 0;
      background-color: var(--color-placeholder);
    }

    .testimonial__content {
      margin: 0.5rem 1.5rem;
    }

    .testimonial__title {
      font-size: var(--font-size-l);
      margin-bottom: 0;
      margin-top: 0;
    }

    .testimonial__footer {
      /* placera längst ner genom att sätta order så högt som möjligt */
      order: 10;
      display: flex;
      gap: 1rem;
      align-items: center;
    }

    .testimonial__placeholder {
      width: 40px;
      height: 40px;
    }

    .testimonial__credits {
      text-align: left;
      gap: 0;
    }

    .testimonial__container {
      display: flex;
      flex-direction: column;
    }

    .testimonial__rating {
      order: 8;
      display: flex;
      justify-content: center;
      gap: 0.5rem;
      color: var(--color-accent);
      margin-bottom: 1.5rem;
    }
  }
}

/* Partners*/
.partners {
  background-color: var(--color-dark-blue);

  .partners__inner {
    padding: var(--spacing-section) 0;
  }

  .partners__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .partners__link {
    opacity: 0.4;
    transition: all 0.2s;

    &:hover {
      opacity: 1;
    }
  }
}

/* CTA */
.cta {
  background-color: var(--color-dark-blue);
  background-image: url(assets/images/Image\ Placeholder.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -30vw;

  .cta__inner {
    padding: var(--spacing-section) 0;
    display: flex;
    justify-content: flex-end;
  }

  .cta__content {
    background: var(--color-light);
    max-width: 500px;
    padding: 4rem;
    min-height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
  }

  .cta__title {
    font-size: var(--font-size-2xl);
    margin: 0 0 0.5rem;
  }

  .cta__buttons {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
  }
}

/* Footer */

.site-footer {
  h3 {
    font-size: var(--font-size-m);
    font-weight: 700;
  }
  .site-footer__inner {
    padding: var(--spacing-section) 0;

    /* Björn använder grid istället, med gap 3 rem */
    display: flex;
    flex-direction: column;
    gap: 3.44rem;
  }

  .site-footer__main {
    display: flex;
    justify-content: space-between;
  }

  .site-footer__logo {
    /* Björn gör om den till inlineelement och en maxbredd på 135px */
    padding: 1rem 0;
  }

  /* Björn ställer in lineheight fontsize och font-weight på alla meny items och menylänkar. lägger även till hovereffekt */

  .contact__item {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  /* Björn gör current color i htm för placeholderikonen, och sätter sen inställningar för border-radius, höjd, bredd och färg i css */

  .contact__list {
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1.13rem;
    list-style: none;
    padding: 0;
  }

  /* Björn gör så här, för att få ett större avstånd till vänster om service */
  /* .site-footer__service {
    margin-left: auto;
  } */

  /* Björn gör istället inställningarna på ul, innuti site-footer, och gör istället en separat inställning för social som inte ska ha samma inställning */
  .service__list,
  .company__list {
    list-style: none;
    padding: 0;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .service__title,
  .company__title,
  .social__title {
    margin-bottom: 2rem;
  }
}

.social__list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.social__link {
  color: var(--color-accent);
}
