/* RESET */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

/* CUSTOM PROPERTIES */

:root {
  --font-family-1: "Raleway", sans-serif;
  --font-family-2: "Roboto", sans-serif;

  --color-dark: #333;
  --color-light: #fff;
  --color-accent: #3a86ff;
  --color-dark-blue: #283646;
  --color-light-grey: #f8f9fa;
  --color-grey: #666;
  --color-placeholder: #a2a9b0;

  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-2xl: 3rem;
  --font-size-3xl: 4rem;
}

body {
  font-family: var(--font-family-2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-1);
  font-weight: bold;
}

h1 {
  font-weight: 600;
}

/* KOMPONENTER */

.button {
  padding: 0;
  border: 0;
  border-radius: 0;
  background: transparent;

  color: var(--color-accent);
  font-family: var(--font-family-2);
  font-size: var(--font-size-s);
  font-weight: 500;
  text-decoration: none;
  display: inline-flex;
  align-items: center;

  height: 3rem;
  border: 1px solid var(--color-accent);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  gap: 0.5rem;

  white-space: nowrap;

  &.button--light {
    border-color: var(--color-light);
    color: var(--color-light);
  }
}

body {
  background-color: var(--color-dark-blue);
}
